<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>餐饮后台管理系统</title>

    <script language="JavaScript" type="text/javascript" src="static/js/jquery.min.js"></script>

    <script src="static/tether/js/tether.js"></script>
    <link href="static/tether/css/tether.css" rel="stylesheet" />

    <link href="static/bootstrap3/css/bootstrap.css" rel="stylesheet">
    <script src="static/bootstrap3/js/bootstrap.js"></script>

    <script src="static/js/bootstrap-table.js"></script>
    <link href="static/css/bootstrap-table.css" rel="stylesheet" />
    
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ name }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#menu">菜品管理
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li>
              <a href="#table">餐桌管理 
              </a>
            </li>

            <li>
              <a href="#staff">员工管理 
              </a>
            </li>

            <li>
              <a href="#statistic">统计报表 
              </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id='containner' class="content"></div>
    
    <script>
    // 按钮动画
    $("#containner").load('admin/menu.html')
    $(".nav a").on("click", function() {
      $(".nav").find(".active").removeClass("active");
      $(this).parent().addClass("active");
      if (this.href.indexOf('table') != -1) {
        $("#containner").load('admin/table.html')
      } else if (this.href.indexOf('menu') != -1) {
        $("#containner").load('admin/menu.html')
      } else if (this.href.indexOf('staff') != -1) {
        $("#containner").load('admin/staff.html')
      } else if (this.href.indexOf('statistic') != -1) {
        $("#containner").load('admin/statistic.html')
      }
    });      
    </script>
  </body>
</html>
